<h2>Add a New Task</h2>

<form action='/tasks/new' method="POST">
<label> Date (ex. dd/mm/yyyy) </label>
<input type="text" name="date_worked"> </br>

<label> Task </label>
<input type="text" name="task"> </br>

<label> Project </label>
<input type="text" name="project_title"> </br>

<label> Hours (ex. 2.0)</label>
<input type="text" name="hrs_worked"> </br>

<input class="btn btn-primary" type="submit" value="submit">
</form>